<div class="content">
  <div class="container">
    <div class="title">
      <h2>Estágio Já</h2>
    </div>
    <p>Preencha o campo para recuperar sua senha</p>
    <form [formGroup]="form" (submit)="send()">
      <div class="recovery-container">
        <div class="input-container">
          <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              class="input-email"
              type="email"
              formControlName="email"
              placeholder="Digite o e-mail da conta registrada"
              required
            />
            <mat-error ng-show=""> Por favor, preencha o e-mail. </mat-error>
          </mat-form-field>
          <div *ngIf="showExtraFields">
            <div class="input-container">
              <mat-form-field class="full-width">
                <mat-label>Token</mat-label>
                <input
                  matInput
                  class="input-token"
                  type="text"
                  formControlName="token"
                  placeholder="Digite o token"
                  required
                />
              </mat-form-field>
            </div>

            <div class="input-container">
              <mat-form-field class="full-width">
                <mat-label>Nova Senha</mat-label>
                <input
                  matInput
                  class="input-password"
                  type="password"
                  formControlName="novaSenha"
                  placeholder="Digite a nova senha"
                  required
                />
              </mat-form-field>
            </div>
            <div class="input-container">
              <mat-form-field class="full-width">
                <mat-label>Confirmar Nova Senha</mat-label>
                <input
                  matInput
                  type="password"
                  class="input-confirmPassword"
                  formControlName="confirmarNovaSenha"
                  placeholder="Confirme a nova senha"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <button
            mat-button
            class="mat-primary custom-button"
            [hidden]="showExtraFields"
            type="submit"
          >
            Confirmar
          </button>
          <button
            mat-button
            class="mat-primary custom-button"
            [hidden]="!showExtraFields"
            type="submit"
            (click)="atualizarSenha()"
          >
            Atualizar senha
          </button>
        </div>
      </div>
      <a [routerLink]="['/']">Voltar</a>
    </form>
  </div>
</div>
