.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 95px;
  background-color: #6638b5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title h2 {
  color: white;
}

.input-container {
  width: 100%;
  margin-bottom: 10px;
}

.full-width {
  width: 90%;
  padding-left: 30px;
}

h2 {
  color: #ffffff;
  font-size: 35px;
  padding-top: 15px;
}

p {
  font-size: 17px;
  padding: 30px;
}

.input-container {
  width: 100%;
  margin-bottom: 10px;
}

.recovery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 539px;
  height: auto;
}

.custom-button {
  margin-left: 25px;
  width: 90%;
  background-color: #6638b5;
  color: white !important;
  border-radius: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
}

a {
  text-align: left;
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;
}
