<mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
        <div class="left-icons">
            <img class="logo" src="../../assets/logo.png" alt="Icone site">
            <span class="site-name">Estágio Já</span>
        </div>
        <span class="spacer"></span>
        <div class="right-icons">
            <button mat-icon-button>
                <mat-icon aria-hidden="false" aria-label="home_icon" fontIcon="home"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon aria-hidden="false" aria-label="work_icon" fontIcon="work_outline"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon aria-hidden="false" aria-label="notification_icon" fontIcon="notifications_none"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon aria-hidden="false" aria-label="account_icon" fontIcon="account_circle"></mat-icon>
            </button>
            <button mat-icon-button (click)="logout()">
                <mat-icon aria-hidden="false" aria-label="exit_to_app" fontIcon="exit_to_app"></mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>