<div class="content">
  <div class="container">
    <div class="title-container">
        <h2 class="register">Estágio Já</h2>
    </div>
    <form [formGroup]="formLogin" (submit)="logar()">
      <div class="login-container">
          <img class="logo" src="../../assets/logo.png" alt="Icone site">

        <div class="input-container">
          <mat-form-field class="full-width">
            <mat-label>Login</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Digite seu e-mail" required>
            <mat-error ng-show="formLogin.email.$error.required && formLogin.email.$touched">
              Por favor, preencha o e-mail.
          </mat-error>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field class="mat-input-element-curse full-width">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" placeholder="Digite sua senha" required>
            <mat-error ng-show="formLogin.email.$error.required && formLogin.email.$touched">
              Por favor, preencha a senha.
          </mat-error>
          </mat-form-field>
        </div>
        <button mat-button class="mat-primary custom-button" onclick="">Confirmar</button>
        <div class="links-container">
          <div class="left-link">
            <a href="" routerLink="/recuperar-senha">Recuperar senha</a>
          </div>
          <div class="right-link">
            <a [routerLink]="['/cadastrar']">Criar conta</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
