<div class="container-search">
    <p class="text vacancies">Vagas Abertas</p>
    <p class="text recommendations">Histórico</p>
    <div class="custom-input">
        <h5>a</h5>
        <input placeholder="  Desenvolvedor .NET" class="input-field">
        <mat-icon class="icon">search</mat-icon>
      </div>
</div>
<div class="container">
    <span class="title">Vagas Abertas</span>
    <button mat-button class="button verde btn-approve align-right" color="warn">
        Nova vaga
    </button>
    <div class="vaga" *ngFor="let vaga of vagas">
        <div class="vaga-info">
            <div class="vaga-imagem">
                <img src="{{ vaga.imagemUrl }}" alt="Imagem da Vaga">
            </div>
            <div class="vaga-detalhes">
                <div fxLayout="column">
                    <h1>{{ vaga.titulo }}</h1>
                    <h4>Nome Empresa</h4>
                </div>
                <mat-icon class="icone">open_in_new</mat-icon>
                <button mat-button class="button roxo btn-approve" color="warn">Exibir Candidatos</button>
                <button mat-button class="button vermelho btn-danger" color="warn">Finalizar</button>
            </div>
        </div>
    </div>
</div>