<div class="container-search">
    <p class="text vacancies" (click)="ativarVisualizarVagasAbertas()" [ngClass]="{'active': VagasAbertasAtivo}">Vagas Abertas</p>
    <p class="text recommendations" (click)="ativarVisualizarHistorico()" [ngClass]="{'active': HistoricoAtivo}">Histórico</p>
    <div class="custom-input">
        <input id="search" placeholder="  Desenvolvedor .NET" class="input-field" (keyup)="pesquisarVaga()">
        <mat-icon class="icon" (click)="limparPesquisa()">clear</mat-icon>
    </div>
</div>
<div class="container" [hidden]="!VagasAbertasAtivo">
    <div class="row">
        <span class="title">Vagas Abertas</span>
        <button mat-button (click)="cadastrarVaga()" class="button verde btn-approve align-right" color="warn">
            Nova vaga
        </button>
    </div>
    <div class="vaga" *ngFor="let vaga of vagasAbertas">
        <div class="vaga-info">
            <div class="vaga-imagem">
                <img class="img-vaga" src="{{ caminhoDaImagem }}" alt="Imagem da Vaga">
            </div>
            <div class="vaga-detalhes">
                <div fxLayout="column">
                    <h1>{{ vaga.titulo }}</h1>
                    <h4>{{ vaga.nomeEmpresa }}</h4>
                </div>
                <mat-icon class="icone" (click)="visualizarVaga(vaga.id!)">open_in_new</mat-icon>
                <button mat-button (click)="exibirCandidatos(vaga.id!)" class="button roxo btn-approve" color="warn">Exibir Candidatos</button>
                <button mat-button (click)="confirmarFinalizarVaga(vaga.id!)" class="button vermelho btn-danger" color="warn">Finalizar</button>
            </div>
        </div>
    </div>
</div>
<div class="container" [hidden]="!HistoricoAtivo">
  <span class="title">Vagas Finalizadas ou Concluídas</span>
  <div class="vaga" *ngFor="let vaga of vagasFinalizadas">
      <div class="vaga-info">
          <div class="vaga-imagem">
              <img src="{{ caminhoDaImagem }}" alt="Imagem da Vaga">
          </div>
          <div class="vaga-detalhes">
              <div fxLayout="column">
                  <h1>{{ vaga.titulo }} <span class="span-aprovado">{{ carregarAprovacaoVaga(vaga) }}</span></h1>
                  <h4>{{ vaga.nomeEmpresa }}</h4>
              </div>
              <mat-icon class="icone" (click)="visualizarVaga(vaga.id!)">open_in_new</mat-icon>
              <button mat-button (click)="exibirCandidatos(vaga.id!)" class="button roxo btn-approve" color="warn" [hidden]="vaga.status !== 'FINALIZADO'">Exibir Candidatos</button>
              <button mat-button (click)="exibirCandidatos(vaga.id!)" class="button verde btn-approve" color="warn" [hidden]="vaga.status !== 'CONCLUIDO'">Exibir Candidato Aprovado</button>
          </div>
      </div>
  </div>
</div>