.container {
    width: 1200px;
    height: 700px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 38em;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #faf7f7;
    border-radius: 10px;
    overflow: auto;
}

.main-title {
  width: 1200px;
  height: 66px;
  background-color: #6638B5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 8em;
  left: 50%;
  transform: translate(-50%, 0);
}

.custom-button-2 {
    position: absolute;
    left: 0;
    color: #FFF !important;
    border-radius: 100px;
    padding: 20px;
    font-size: 35px;
}

.mat-primary.custom-button-2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF !important;
    border-radius: 100px;
    padding: 20px;
    font-size: 35px;
}

.title {
    font-size: 36px;
    margin: 20px;
}

.internship {
    color: #ffffff;
    font-size: 35px;
    padding-top: 15px;
}

.vaga {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #FFF;
}

.vaga-info {
    display: flex;
    align-items: center;
}

.vaga-imagem {
    margin-right: 20px;
}

.vaga-detalhes {
    flex: auto; /* Faz com que os detalhes da vaga ocupem todo o espaço disponível */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone {
    cursor: pointer;
    width: 30px;
    font-size: 30px;
    padding-bottom: 30px;
    margin-left: 10px;
}

.aplicant-name {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6638B5;
  }

  ::ng-deep mat-list mat-list-item {
    margin: -15%;
  }

  @media (max-width: 1275px) {
    .container {
      height: 700px;
      width: 80%;
      top: 36em;
    }

    .main-title {
      top: 6em;
      width: 80%;
    }

    .title {
      font-size: 29px;
    }

    .internship {
      font-size: 30px;
    }

    .button.roxo,
    .button.vermelho,
    .button.verde {
      font-size: 13px;
      padding: 9px 12px;
    }

}

@media (max-width: 850px) {
  .container {
    height: 700px;
    width: 75%;
    top: 38em;
  }

  .main-title {
    top: 8em;
    width: 75%;
  }

  .title {
    font-size: 29px;
  }

  .button.roxo,
  .button.vermelho,
  .button.verde {
    font-size: 13px;
    padding: 9px 12px;
    display: block;
    margin-bottom: 1px;
  }

  .button.roxo {
    font-size: 11px;
    padding: 6px 2px;
    width: 75%;
  }

  .internship {
    font-size: 20px;
  }

  .img-vaga {
    width: 50px;
    height: 50px;
  }

  .mat-primary.custom-button-2 {
    font-size: 25px;
  }

  .aplicant-name {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .aplicant-info {
    font-size: 14px;
  }

  .mat-list-item {
    font-size: 14px;
  }
  
  .mat-list-item p {
    font-size: 13px;
  }

}

@media (max-width: 510px) {
  .button.vermelho,
  .button.verde {
    font-size: 13px;
    padding: 9px 12px;
    display: block;
    margin-bottom: 1px;
  }
}