<div class="container">
    <div class="content">
        <div class="title">
            <h2 class="register">Perfil</h2>
        </div>
        <form [formGroup]="formEstudante">
            <div class="register-box">
                <div class="form-row">
                    <img class="img-perfil" src="../../../assets/vaga_image.png" alt="Imagem do estudante">  
                    <mat-list>
                        <mat-list-item> <b>Nome:</b> {{ estudante.nome }} </mat-list-item>
                        <mat-list-item> <b>Idade:</b> {{ idade }} </mat-list-item>
                        <mat-list-item> <b>Telefone:</b> {{ estudante.telefone }} </mat-list-item>
                    </mat-list>
                </div>
                <div class="form-row">
                  <mat-form-field class="mat-input-element-picture" appearance="outline">
                    <button mat-icon-button matPrefix (click)="f_input.click()">
                      <mat-icon>attach_file</mat-icon>
                    </button>
                    <input formControlName="uploadFoto" type="text" placeholder="Importe sua foto" readonly matInput/>
                    <input type="file" hidden #f_input (change)="fotoInputAction($event)" accept=".pdf, .png, .jpg, .jpeg"/>
                  </mat-form-field>
                  <div class="curriculum">
                    <img class="img-curriculum right-bottom" src="../../../assets/curriculumIMG.png" alt="Imagem do currículo">
                  </div>
                  <mat-form-field class="mat-input-element-resume" appearance="outline">
                    <button mat-icon-button matPrefix (click)="c_input.click()">
                      <mat-icon>attach_file</mat-icon>
                    </button>
                    <input formControlName="uploadCurriculo" type="text" placeholder="Importe seu currículo" readonly matInput/>
                    <input type="file" hidden #c_input (change)="curriculoInputAction($event)" accept=".pdf, .png, .jpg, .jpeg"/>
                  </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-description" appearance="outline">
                        <mat-label>Sobre mim</mat-label>
                        <textarea matInput formControlName="descricao" rows="6" placeholder="Fale sobre você..."></textarea>
                        <mat-error ng-show="meuFormulario.descricao.$error.required && meuFormulario.descricao.$touched">
                        Por favor, preencha o campo descrição.
                        </mat-error>
                    </mat-form-field>             
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-compt" appearance="outline">
                        <mat-label>Competências</mat-label>
                        <mat-select formControlName="competencias" (selectionChange)="adicionarCompetencias($event)" multiple placeholder="Requisitos">
                            <mat-option *ngFor="let item of competencias" [value]="item">{{ item.descricao }}</mat-option>
                        </mat-select>                        
                        <mat-error ng-show="formEstudante.cpf.$error.required && formEstudante.cpf.$touched">
                            Por favor, preencha suas competências.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-course" appearance="outline">
                        <mat-label>Curso</mat-label>
                        <mat-select formControlName="curso" (selectionChange)="adicionarCurso($event)" placeholder="Curso">
                            <mat-option *ngFor="let item of cursos" [value]="item">{{ item.descricao }} - {{getTurnoString(item.turno)}}</mat-option>
                        </mat-select>                        
                        <mat-error ng-show="formEstudante.nome.$error.required && formEstudante.cpf.$touched">
                            Por favor, preencha seu curso.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-phone" appearance="outline">
                        <input matInput formControlName="telefone" [placeholder]="estudante.telefone!" maxlength="14" mask="(00)00000-0000">
                        <mat-error ng-show="formEstudante.telefone.$error.required && formEstudante.telefone.$touched">
                            Por favor, preencha o campo Telefone.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-cep" appearance="outline">
                        <input matInput formControlName="cep" [placeholder]="endereco.cep!" (input)="buscarCep()" maxlength="9" mask="00000-000">
                        <mat-error ng-show="formEstudante.cep.$error.required && formEstudante.cep.$touched">
                            Por favor, preencha o campo CEP.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-city" appearance="outline">
                        <input matInput formControlName="cidade" [placeholder]="endereco.localidade!">
                        <mat-error ng-show="formEstudante.cidade.$error.required && formEstudante.cidade.$touched">
                            Por favor, preencha o campo cidade.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-state" appearance="outline">
                        <input matInput formControlName="estado" [placeholder]="endereco.uf!">
                        <mat-error ng-show="formEstudante.estado.$error.required && formEstudante.estado.$touched">
                            Preencha.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-neighborhood" appearance="outline">
                        <input matInput formControlName="bairro" [placeholder]="endereco.bairro!">
                        <mat-error ng-show="formEstudante.bairro.$error.required && formEstudante.bairro.titulo.$touched">
                            Por favor, preencha o campo bairro.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-address" appearance="outline">
                        <input matInput formControlName="endereco" [placeholder]="endereco.logradouro!">
                        <mat-error ng-show="formEstudante.endereco.$error.required && formEstudante.endereco.$touched">
                            Por favor, informe o endereço.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-number" appearance="outline">
                        <input matInput formControlName="numero" [placeholder]="endereco.numero!.toString()">
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-complement" appearance="outline">
                        <input matInput formControlName="complemento" [placeholder]="endereco.complemento!" >
                        <mat-error ng-show="formEstudante.complemento.$error.required && formEstudante.complemento.$touched">
                            Por favor, informe o complemento.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-mod" appearance="outline">
                        <mat-label>Modalidade</mat-label>
                        <mat-select formControlName="modalidade" placeholder="Selecione a modalidade">
                        <mat-option *ngFor="let item of modalidades; let i = index" [value]="item">{{ getModalidadeString(i) }}</mat-option>
                        </mat-select>
                        <mat-error ng-show="meuFormulario.modalidade.$error.required && meuFormulario.modalidade.$touched">
                        Preencha a modalidade.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-backpack" appearance="outline">
                        <mat-label>Bolsa</mat-label>
                        <input matInput formControlName="valorDaBolsa" type="number" placeholder="Digite o valor da bolsa">
                        <mat-error ng-show="meuFormulario.valorDaBolsa.$error.required && meuFormulario.valorDaBolsa.$touched">
                        Preencha o campo bolsa.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-turn" appearance="outline">
                        <mat-label>Turno</mat-label>
                        <mat-select formControlName="turno" placeholder="Selecione o turno">
                        <mat-option *ngFor="let item of turnos; let i = index" [value]="item">{{ getTurnoString(i) }}</mat-option>
                        </mat-select>
                        <mat-error ng-show="meuFormulario.turno.$error.required && meuFormulario.turno.$touched">
                        Preencha o campo turno.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <mat-icon (click)="voltar()" class="mat-primary custom-button-2" aria-hidden="false" aria-label="keyboard_return" fontIcon="keyboard_return"></mat-icon>
        <button [hidden]="editando" mat-button class="custom-button" (click)="alterarStatusEdicao()">
           Editar
        </button>
        <button [hidden]="!editando" (click)="atualizarEstudante()" mat-button class="custom-button">
          Confirmar
        </button>
    </div>
</div>

