<div class="container">
    <div class="content">
        <div class="title">
            <h2 class="register">Perfil</h2>
        </div>
        <form [formGroup]="formEmpresa">
            <div class="register-box">
                <div class="form-row">
                    <div class="form-row">
                        <img class="img-perfil" [src]="obterFoto()" alt="Imagem da empresa">   
                        <mat-list>
                            <mat-list-item> <b>Razão Social:</b> <span> {{ empresa.razaoSocial }}</span> </mat-list-item>
                            <mat-list-item> <b>Nome Fantasia:</b> <span> {{ empresa.nomeFantasia }}</span> </mat-list-item>
                            <mat-list-item> <b>Email:</b> <span> {{ empresa.email }}</span> </mat-list-item>
                        </mat-list>
                    </div>                        
                </div>
                <div class="form-row">
                  <mat-form-field class="mat-input-element-picture" appearance="outline">
                    <button [disabled]="!editando" mat-icon-button matPrefix (click)="f_input.click()">
                      <mat-icon>attach_file</mat-icon>
                    </button>
                    <input formControlName="uploadFoto" type="text" [placeholder]="empresa.linkFoto ?? 'Importe sua foto'" readonly matInput/>
                    <input type="file" hidden #f_input (change)="fotoInputAction($event)" accept=".pdf, .png, .jpg, .jpeg"/>
                  </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-description" appearance="outline">
                        <textarea matInput formControlName="descricao" rows="6" [placeholder]="empresa.descricao ?? 'Sobre a empresa'"></textarea>
                        <mat-error ng-show="formEmpresa.descricao.$error.required && formEmpresa.descricao.$touched">
                        Por favor, preencha o campo descrição.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-branch" appearance="outline">
                        <input matInput formControlName="ramoDeAtuacao" [placeholder]="empresa.ramoDeAtuacao ?? 'Ramo de atuação'">
                        <mat-error ng-show="formEmpresa.nome.$error.required && formEmpresa.cpf.$touched">
                            Por favor, preencha o ramo de atuação.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-phone" appearance="outline">
                        <input matInput formControlName="telefone" [placeholder]="empresa.telefone!" maxlength="14" mask="(00)00000-0000">
                        <mat-error ng-show="formEmpresa.telefone.$error.required && formEmpresa.telefone.$touched">
                            Por favor, preencha o campo Telefone.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-cep" appearance="outline">
                        <input matInput formControlName="cep" [placeholder]="endereco.cep!" (input)="buscarCep()" maxlength="9" mask="00000-000">
                        <mat-error ng-show="formEmpresa.cep.$error.required && formEmpresa.cep.$touched">
                            Preencha o CEP.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-city" appearance="outline">
                        <input matInput formControlName="cidade" [placeholder]="endereco.localidade!">
                        <mat-error ng-show="formEmpresa.cidade.$error.required && formEmpresa.cidade.$touched">
                            Por favor, preencha o campo cidade.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-state" appearance="outline">
                        <input matInput formControlName="estado" [placeholder]="endereco.uf!">
                        <mat-error ng-show="formEmpresa.estado.$error.required && formEmpresa.estado.$touched">
                            Preencha.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-neighborhood" appearance="outline">
                        <input matInput formControlName="bairro" [placeholder]="endereco.bairro!">
                        <mat-error ng-show="formEmpresa.bairro.$error.required && formEmpresa.bairro.titulo.$touched">
                            Preencha o campo bairro.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="mat-input-element-address" appearance="outline">
                        <input matInput formControlName="endereco" [placeholder]="endereco.logradouro!">
                        <mat-error ng-show="formEmpresa.endereco.$error.required && formEmpresa.endereco.$touched">
                            Por favor, informe o endereço.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-number" appearance="outline">
                        <input matInput formControlName="numero" [placeholder]="endereco.numero!.toString()">
                    </mat-form-field>
                    <mat-form-field class="mat-input-element-complement" appearance="outline">
                        <input matInput formControlName="complemento" [placeholder]="endereco.complemento!.trim() != '' ? endereco.complemento! : 'Complemento'" >
                        <mat-error ng-show="formEmpresa.complemento.$error.required && formEmpresa.complemento.$touched">
                            Por favor, informe o complemento.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <mat-icon (click)="voltar()" class="mat-primary custom-button-2" aria-hidden="false" aria-label="keyboard_return" fontIcon="keyboard_return"></mat-icon>    
        <button [hidden]="editando" mat-button class="custom-button" (click)="alterarStatusEdicao()">
            Editar
        </button>
        <button [hidden]="!editando" (click)="alterarStatusVisualizacao()" mat-button class="custom-button-3">
          Desabilitar edição
        </button>
        <button [hidden]="!editando" mat-button (click)="atualizarEmpresa()" class="custom-button">
            Confirmar
        </button>
    </div>
</div>

