<app-links-perfil></app-links-perfil>
<app-links-uteis></app-links-uteis>
<div class="container">
    <h1 class="title">Candidaturas recentes</h1>
    <div class="vaga" *ngFor="let vaga of vagas">
        <div class="vaga-info">
            <div class="vaga-imagem">
                <img class="img-vaga" src="{{ vaga.imagemUrl }}" alt="Imagem da Vaga">
            </div>
            <div class="vaga-detalhes">
                <h2 class="vaga-titulo">{{ vaga.titulo }}</h2>
                <mat-icon class="icone">open_in_new</mat-icon>
                <button class="mat-primary button vermelho btn-reject" color="warn">Desistir</button>
            </div>
        </div>
    </div>
</div>