<div class="container">
    <div class="menu-item-logo">
        <mat-icon class="person">account_circle</mat-icon>
    </div>
    <div class="menu-item-welcome">
        <span>Bem-vindo(a)</span>
        <p>Fulano</p>
    </div>
    <div class="menu-item-vacancies">
        <mat-icon class="people">people</mat-icon>
        <span>Minhas Vagas</span>
    </div>
    <div class="menu-item-help">
        <div class="icon">
            <mat-icon class="help-icon">help</mat-icon>
        </div>
        <span class="text-help">Dúvidas</span>
    </div>
    <div class="image-logo">
        <img src="../../../assets/logo_white.png" alt="Logo EstagioJá">
    </div>
    <div class="motivational-area">
        <h1>Dica do dia!</h1>
        <p>{{frase.texto}}</p>
    </div>
</div>