<div class="container">
    <h1 class="title">Links úteis</h1>
    <div class="image-ufpr">
        <a href="https://ufpr.br/"><img src="../../../assets/ufprIMG.png" alt="Logo UFPR Imagem"></a>
    </div>
    <div class="image-siga">
        <a href="https://siga.ufpr.br/siga/"><img src="../../../assets/sigaIMG.png" alt="Logo SIGA UFPR Sispro"></a>
    </div>
    <div class="image-ciee">
        <a href="https://www.cieepr.org.br/"><img src="../../../assets/cieeIMG.png" alt="Logo CIEE PR"></a>
    </div>
</div>