.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.content {
    width: 910px;
    height: 740px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 910px;
    height: 66px;
    background-color: #6638B5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.register {
    color: #ffffff;
    font-size: 35px;
    padding-top: 15px;
}

.register-box {
    padding-top: 10px;
    height: auto;
    border-radius: 10px;
}

.mat-input-element-cpf {
    width: 42%;
    padding-right: 28px;
    padding-left: 30px;
}

.mat-input-element-name {
    width: 48%;
    padding-right: 10px;
}

.mat-input-element-turn {
    width: 32%;
}

.mat-input-element-description {
    width: 98%;
}

.mat-input-element-requirements {
    width: 49%;
    padding-right: 10px;
}

.mat-input-element-curse {
    width: 48%;
}

.mat-input-element-responsibilities {
    width: 48%;
    padding-right: 10px;
}

.mat-input-element-profit {
    width: 49%;
}

.mat-input-element-backpack {
    width: 33%;
    padding-right: 10px;
}

.mat-input-element-birth {
    padding-left: 30px;
    width: 42%;
    padding-right: 28px;
}

.mat-input-element-phone {
    padding-right: 14px;
}

.mat-input-element-city {
    padding-left: 30px;
    width: 30%;
    padding-right: 17px;
}

.mat-input-element-state {
    width: 10%;
    padding-right: 28px;
}

.mat-input-element-neighborhood {
    padding-right: 11px;
    width: 37%;
}

.mat-input-element-number {
    width: 10%;
}

.mat-input-element-address {
    padding-left: 30px;
    padding-right: 28px;
    width: 42%;
}

.mat-input-element-complement {
    width: 48%;
}

.mat-input-element-email {
    padding-left: 30px;
    padding-right: 28px;
    width: 42%;
}

.mat-input-element-password {
    width: 48%;
}

.custom-button {
    position: center;
    background-color: #6638B5;
    color: white !important;
    border-radius: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 15px;
}

.buttons {
    text-align: center;
}

.form-row {
    margin-bottom: 20px;
}

::ng-deep .mdc-switch {
    width: 60px !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::before {
    background-color: #6638B5 !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
    background-color: #6638B5 !important;
}

::ng-deep .mdc-switch__track {
    height: 25px !important;
    border-radius: 15px !important;
    border: solid 2px rgb(65, 62, 62) !important;
}

::ng-deep .mdc-switch__handle {
    height: 25px !important;
    width: 25px !important;
    border-radius: 50% !important;
    border: solid 1px rgb(65, 62, 62) !important;
}

::ng-deep .mdc-switch__icon {
    height: 25px !important;
    width: 25px !important;
    border-radius: 50% !important;
    background-color: white !important;
}

.profile-type {
    text-align: center;
    margin-right: 60px;
    margin-top: 25px;
}

.label-company {
    padding-left: 10px;
}

.label-student {
    padding-right: 10px;
}
